$font-family-base: 'Noto Sans TC', sans-serif;
$text-color-title: #2E2E2E;
$text-color-base: #221E1F;
$text-color-content: #747474;
$primary-color: #56C4C5;
$second-color: #F6CB52;
$second-color-page: #FFD153;
$price-btn: #FF5D50;
$shadow-color: #00000014;
$bg-color: #F5F5F5;
$divider-color: #DDDDDD;
$btn-color-base: #ffffff;
